.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 88px;
}

.category-card {
  color: var(--text-primary-color);
  background-color: #f5f5f5;
  width: 312px;
  height: 220px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.nacional img {
  width: 80px;
  height: 80px;
}
