.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.categories-cards .card {
  color: var(--text-primary-color);
  background-color: #f5f5f5;
  width: 312px;
  height: 220px;
  box-sizing: border-box;
  padding: 41px 16px 61px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.categories-cards .card img {
  width: 80px;
  height: 80px;
}

.categories-cards .card h4 {
  font-weight: var(--title-weight);
  font-size: 28px;
  margin: 0;
  height: 34px;
}

.categories-cards .internacional h4 {
  height: 68px;
}

.nacional h3,
.internacional h3,
.seguro h3 {
  margin: 0;
}

.tranfer img {
  margin: 10px 0 0 0;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 auto;
  }

  .categories-cards .card {
    width: 281.25px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .categories-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
