.main-footer {
  background-color: var(--background-tertiary-color);
  color: var(--text-secondary-color);
  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 28px;
  text-align: center;
  justify-content: center;
  padding: 32px 24px;
}

.main-footer .footer-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.main-footer .footer-text a div {
  background: url(../img/Logo-footer.png) no-repeat;
  width: 162px;
  height: 40px;
  background-size: cover;
  margin: 0 auto 8px;
}

.main-footer .footer-links p {
  margin-bottom: 16px;
}

.main-footer .footer-links .footer-nav {
  display: block;
}

.main-footer .footer-links .footer-nav img {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 1024px) {
  .main-footer {
    text-align: left;
    padding: 52px 120px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer .footer-text {
    font-size: 20px;
    line-height: 32px;
    align-items: start;
  }

  .main-footer .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
